<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <h1>Choose Booking Date</h1>
    <h2>선택하신 차량 정보</h2>
    <table border="1">
      <th>차대 번호</th>
      <th>가격</th>
      <th>제조 회사</th>
      <th>차량 모델</th>
      <th>엔진 용량</th>
      <th>차량 톤수</th>
      <th>색상</th>
      <th>제작 년도</th>
       {{#each selectcar}}
       <tr>
        <td>{{Vin}}</td>
        <td>{{Price}}만원</td>
        <td>{{Company}}</td>
        <td>{{Model_Name}}</td>
        <td>{{Engine_Capacity}}cc</td>
        <td>{{Tonnage}}</td>
        <td>{{Color}}</td>
        <td>{{Year}}년</td>
       </tr>
       {{/each}}
    </table>
    <h2>예약 날짜를 선택해주세요</h2>
    <form method = "POST" action="/booking/{{vin}}">
        <input type="date" min={{today}} max={{maxday}} name="bookdate" required>
        <input type = "submit" value="입력">
    </form>
  </body>