<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script>
    const logout = () => {window.location.href="http://localhost:3000/logout"};
    const move = () => {window.location.href="http://localhost:3000/sugang"};
  </script>
</head>
<body>
    <h1>예약 정보 수정</h1>
    <div>
    <table>
      <form method="post" action="/admin/update/reservation">
        <tr>
          <td>예약 번호</td>
          <td>
            <input list="saleid" name="saleid">
              <datalist id="saleid">
                {{#each customers}}
                <option>{{Sale_Id}}</option>
                {{/each}}
              </datalist>
          </td>
        </tr>
        <tr>
            <td>Vin</td>
            <td>
                <input list="newvin" name="newvin" required>
                    <datalist id="newvin">
                        {{#each vins}}
                        <option value={{SVin}}>
                        {{/each}}
                    </datalist>
            </td>
        </tr>
        <tr>
            <td>예약 고객</td>
            <td>
                <input list="newcustomer" name="newcustomer" required>
                    <datalist id="newcustomer">
                        {{#each customers}}
                        <option>{{Cname}}, {{Cemail}}</option>
                        {{/each}}
                    </datalist>
            </td>
        </tr>
        <tr>
            <td>판매원</td>
            <td>
                {{#each salesperson}}
                {{Sname}}, {{Semail}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>예약날짜</td>
            <td><input type="date" name="bookdate" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="수정"></td>
        </tr>
      </form>
    </table>
    </div>
</body>